.hide {
  display: none;
}

#results_table tr {
  display: none;
}

/* Needed for constant display of Liter spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

#btn_result {
  background-color: #E76016;
  border-color: #E76016;
  width: 100%;
}

#title_calculator {
  font-weight: 600;
  font-size: 22px;
}

#wassersprudler_rechner.container {
  font-family: 'Open Sans', sans-serif;
}

#wassersprudler_rechner .row {
  margin-bottom: 12px;
}

.table_header {
  background-color: #8BC34A !important;
  color: #fff !important;
  border-bottom: #8BC34A !important;
}

#results_table {
  margin-top: 25px;
}

/* MEDIA QURIES */
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  #wassersprudler_rechner.container {
    width: 753px;
    padding: 23px 23px 3px 23px;
  }

  #formControlRange {
    display: none;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1283px
*/
@media (min-width: 1025px) and (max-width: 1283px) {
  #wassersprudler_rechner.container {
    width: 753px;
    padding: 23px 23px 3px 23px;
  }

  #formControlRange {
    display: none;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 763px to 1024px
*/
@media (min-width: 763px) and (max-width: 1024px) {
  #wassersprudler_rechner.container {
    padding: 23px 23px 3px 23px;
  }

  #formControlRange {
    display: none;
  }
}

@media (min-width: 484px) and (max-width: 762px) {
  #choice_liters {
    display: none;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 323px to 479px
*/
@media (min-width: 323px) and (max-width: 483px) {
  #wassersprudler_rechner.container {
    padding-top: 23px;
  }

  #choice_liters {
    display: none;
  }
}

/*
  ##Device = Very small Smartphones Mobiles (iPhone5 SE, etc.) (Portrait)
  ##Screen = B/w 319px to 323px
*/
@media (min-width: 319px) and (max-width: 323px) {
  #wassersprudler_rechner.container {
    padding-top: 23px;
  }

  #results_table th {
    padding: 6px;
  }

  #results_table th.table_header{
    padding: 8px;
  }

  #results_table {
    font-size: 12.8px;
    /* font-size: 0.71rem; */
  }

  #choice_liters {
    display: none;
  }
}
